<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1061258463070-gl402pe0u0p7bft8962pgkvj7sspn1bb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1061258463070-gl402pe0u0p7bft8962pgkvj7sspn1bb</string>
	<key>API_KEY</key>
	<string>AIzaSyCJsLMn1KOsfc-N6KXlVt9gBL1xHLnDstM</string>
	<key>GCM_SENDER_ID</key>
	<string>1061258463070</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fadaly.Shopify-User</string>
	<key>PROJECT_ID</key>
	<string>shopifyiosapp</string>
	<key>STORAGE_BUCKET</key>
	<string>shopifyiosapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1061258463070:ios:bec7d0159c247d5def71cf</string>
</dict>
</plist>